<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  {{! <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> }}
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-primary"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >{{userSession}}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" id="logOut" name="logOut">Cerrar sesion</a>
          {{!-- <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a> --}}
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Mi carrito</a>
        {{! <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a> }}
      </li>

    </ul>
  </div>
</nav>

<div class="mx-3 mt-2">
  <div class="row d-flex">
    <div class="col-3">
      <form
        name="formProducts"
        id="formProducts"
        class="needs-validation col-12"
        novalidate
      >
        <input name="id" type="hidden" id="id" />
        <div class="col-md">
          <label for="title" class="form-label">Título del producto</label>
          <input
            name="title"
            class="form-control"
            id="title"
            placeholder="Ingrese un título"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md">
          <label for="description" class="form-label">Descripción</label>
          <input
            name="description"
            type="text-area"
            class="form-control"
            id="description"
            placeholder="Ingrese una descripción"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md">
          <label for="price" class="form-label">Precio</label>
          <input
            name="price"
            type="number"
            class="form-control"
            id="price"
            placeholder="Ingrese el precio"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md">
          <label for="code" class="form-label">Codigo</label>
          <input
            name="code"
            type="text"
            class="form-control"
            id="code"
            placeholder="Ingrese el código"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md">
          <label for="category" class="form-label">Categoria</label>
          <select
            name="category"
            type="text"
            class="form-control"
            id="category"
            placeholder="Ingrese la categoria"
            required
          >
            <option value="" disabled selected>Seleccione categoria</option>
            <option value="fruta">Fruta</option>
            <option value="verdura">Verdura</option></select>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md">
          <label for="stock" class="form-label">Cantidad</label>
          <input
            name="stock"
            type="number"
            class="form-control"
            id="stock"
            placeholder="Ingrese la cantidad"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-md">
          <label for="thumbnail" class="form-label">Imagenes</label>
          <input
            name="thumbnail"
            type="text"
            class="form-control"
            id="thumbnail"
            placeholder="Ingrese URL de las imagenes"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="row d-block">
          <div class="col-12 d-block mt-1">
            <button
              class="btn btn-success btn-sm d-block"
              type="submit"
              name="btnformProducts"
              id="submit"
            >Enviar</button>
          </div>

        </div>
      </form>
      <button
        class="btn btn-primary btn-sm mt-1"
        id="update"
        disabled
      >Actualizar</button>
      <button
        class="btn btn-danger btn-sm mt-1"
        disabled
        id="cancelUpdate"
      >Cancelar edicion</button>
    </div>

    <div class="col-9">
      <nav aria-label="...">
        <ul class="pagination">
          {{#if data.hasPrevPage}}
            <li class="page-item">
              <a class="page-link" href={{data.prevLink}}>Anterior</a>
            </li>
          {{else}}
            <li class="page-item disabled">
              <a class="page-link">Anterior</a>
            </li>
          {{/if}}
          <li class="page-item active">
            <span class="page-link">
              {{data.page}}
            </span>
          </li>
          {{#if data.hasNextPage}}
            <li class="page-item">
              <a class="page-link" href={{data.nextLink}}>Siguiente</a>
            </li>
          {{else}}
            <li class="page-item disabled">
              <a class="page-link">Siguiente</a>
            </li>
          {{/if}}
        </ul>
      </nav>

      <table class="table table-sm table-dark table-sm" id="tableProducts">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            {{! <th scope="col">Imagen</th> }}
            <th scope="col">Code</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each data.payload}}
            <tr id="celda">
              <td>{{this.title}}</td>
              <td>{{this.description}}</td>
              <td>{{this.price}}</td>
              {{!-- <td>{{this.thumbnail}}</td> --}}
              <td>{{this.code}}</td>
              <td>{{this.category}}</td>
              <td>{{this.stock}}</td>
              <td><button
                  value={{this._id}}
                  class="edit btn btn-primary btn-sm"
                >Editar</button></td>
              <td><button
                  value={{this._id}}
                  class="delete btn btn-danger btn-sm"
                >Eliminar</button></td>
              <td><button
                  value={{this._id}}
                  class="addCart btn btn-info sm btn-sm"
                >Agregar al carrito</button></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- LLamamos al servisor io para ejecutarlo aca en el frontend,
como esto ejecuta el servidor este ya establece la comunicacion cada vez que se actualiza la paguina -->
<script src="/socket.io/socket.io.js"></script>

<!-- Aca le paso mi js publico -->
<script src="/js/websocketsDB.js"></script>

<!-- bootstrap -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>